@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

:root {
    --color-background: #0e1a23;
    --color-accent: #98e4f7;
    --color-text-primary: #88c0a9;
}

body {
    background: var(--color-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
}

body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(circle, rgba(255, 255, 255, 0.03) 20%, transparent 80%);
	animation: rippleLight 12s infinite linear;
	z-index: 0;
	pointer-events: none;
}

@keyframes rippleLight {
	0% {
		transform: translate(0, 0) scale(1);
	}

	50% {
		transform: translate(2%, -2%) scale(1.02);
	}

	100% {
		transform: translate(0, 0) scale(1);
	}
}

.content {
    user-select: none;
    position: absolute;

    color: var(--color-text-primary);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

input:not([type=color], [type=checkbox]) {
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: none;
    border-bottom: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0.5rem;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-family: 'Sorts Mill Goudy', serif;
}

input[type=checkbox] {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

input[type=checkbox]:checked:before {
    display: block;
    width: 34px;
    height: 34px;
    border: 4px solid #FFCB9A;
    background-color: #445768;
}


input[type=checkbox]:before {
    display: block;
    width: 34px;
    height: 34px;
    border: 4px solid #FFCB9A;
    background-color: #445768;
}


input[type=checkbox]:after {
    display: block;
    width: 30px;
    height: 30px;
    border: 0 solid #FFCB9A;
}

input[type=checkbox]:checked:after {
    display: block;
    width: 12px;
    height: 21px;
    border: solid #FFCB9A;
    border-width: 0 5px 5px 0;
}

label {
    background-color: transparent;
    backdrop-filter: blur(5px);
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-weight: 700;
}

/*input[type=color] {*/
/*    border-bottom: none !important;*/
/*    background-color: transparent;*/
/*    outline: none;*/
/*    background: none;*/
/*}*/
input[type=color] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3em;
    height: 3em;
    background-color: transparent;
    cursor: pointer;
}

input[type=color]::-webkit-color-swatch {
    border: none;
}

input[type=color]::-moz-color-swatch {
    border: none;
}

input:focus {
    border-bottom: 1px solid var(--color-accent);
}

button {
    /*background-color: transparent;
    font-family: 'Sorts Mill Goudy', serif;
    font-family: 'Cinzel', serif;
    backdrop-filter: blur(5px);
    border: 2px solid var(--color-text-primary);
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0.5rem;
    outline: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;*/
    text-decoration: none;
	color: var(--color-text-primary);
	overflow: hidden;
    font-family: 'Cinzel', serif;
    font-size: 18px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 8px;
    background-color: rgba(20, 20, 30, 0.65);
	padding: 0.7rem 1rem;
	transition: transform 0.3s ease, background 0.3s ease;
}

button:hover {
    /*border: 2px solid var(--color-accent);*/
	background: rgba(40, 40, 60, 0.95);
	box-shadow: 0 0 15px rgba(136, 192, 169, 0.5);
	text-shadow: 0 0 4px var(--color-accent);
	text-decoration: none;
	cursor: pointer;
}

#info {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 0.1rem;
}

#game-list {
    list-style: none;
    margin: 0;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
}

.game-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    /*padding: 0.5rem;*/
    background-color: transparent;
    /*border: 2px solid var(--color-text-primary);*/
    color: var(--color-text-primary);
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(5px);
    text-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
    border-radius: 8px;
    background-color: rgba(20, 20, 30, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.hidden {
    height: 0 !important;
}

.hidden2 {
    display: none !important;
}

.user-configuration {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    pointer-events: none;
    gap: 1rem;
}

.field {
    display: flex;
    justify-content: space-between;
    font-family: 'Sorts Mill Goudy', serif;
    padding: 0.5rem;
}

.help {
    background: var(--color-background);
    pointer-events: all;
    box-shadow: 0 0 5px black;
}

.help td {
    padding: 0.3rem 0.5rem;
}

.button-controls {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.app-configuration {
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.15);
    padding: 0.5rem;
    background: var(--color-background);
    pointer-events: all;
    border-radius: 12px;
}

.config-export {
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    border: 2px solid rgba(255, 255, 255, 0.15);
    padding: 0.5rem;
    background: var(--color-background);
    pointer-events: all;
    border-radius: 12px;
}

.config-export code {
    user-select: text;
}

.update-available {
    position: absolute;
    bottom: 0;
    left: 0;
}

.update-available a {
    font-size: 1rem;
    color: var(--color-accent);
}

/*.game-item:hover {
    border: 2px solid var(--color-accent);
}*/

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.game-item a {
    text-decoration: none;
    cursor: pointer;
    /*color: var(--color-text-primary);*/
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 0.5rem;
    transition: all 0.3s ease-in-out;
}

.game-button {
    cursor: pointer;
    flex-grow: 1;
    text-align: left;
    border: none;
    padding: 0.5rem;
    margin: 0;
    padding: 0.7rem 1rem;
}

.game-title-bar .game-button:hover {
    /*border: none;*/
    transform: scale(1.03);
	background: rgba(40, 40, 60, 0.95);
	box-shadow: 0 0 12px rgba(136, 192, 169, 0.1);
	text-shadow: 0 0 4px var(--color-accent);
	text-decoration: none;
	cursor: pointer;
}

.game-title-bar .game-button::before {
    content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 3px;
	background: linear-gradient(90deg, transparent, var(--color-accent), transparent);
	transition: width 0.3s ease, left 0.3s ease;
}

.game-title-bar .game-button::after {
    content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 3px;
	background: linear-gradient(90deg, transparent, var(--color-accent), transparent);
	transition: width 0.3s ease, left 0.3s ease;
}

.game-title-bar .game-button:hover::before,
.game-title-bar .game-button:hover::after {
	width: 100%;
	left: 0;
}

.game-title-bar {
    display: flex;
    width: 100%;
}

.configure-game {
    aspect-ratio: 1;
    /*opacity: 0.3;*/
    border: none;
    color: var(--color-text-primary);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.2rem;
    margin: 0 0.5rem 0 auto;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.configure-game:hover {
    transform: scale(1.15);
    border: none;
    background: none;
	box-shadow: none;
	text-shadow: 0 0 4px var(--color-accent);
	text-decoration: none;
	cursor: pointer;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#particles {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 1;
}

.user-configuration .input-large {
    width: 405px;
}